{{template "default_head"}}
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <ul class="nav nav-tabs page-tabs pt-2 pl-3 pr-3">
                    <li class="nav-item"> <a href="/system/site/list" class="nav-link">站点配置</a> </li>
                    <li class="nav-item"> <a href="/system/mail/list" class="nav-link active">邮件配置</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form name="edit-form" class="edit-form" id="site_config">
                            <div class="form-group">
                                <label for="web_site_title">发件人昵称</label>
                                <input class="form-control" type="text" id="email_name" name="email_name" value="{{.mail.EmailName}}" placeholder="请输入发件人昵称" >
                                <small class="help-block">请填写发件时显示的发件人名称</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_title">主机地址</label>
                                <input class="form-control" type="text" id="email_host" name="email_host" value="{{.mail.EmailHost}}" placeholder="请输入主机地址" >
                                <small class="help-block">请填写邮箱HOST，当前仅支持SMTP。示例：smtpdm.aliyun.com</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_keywords">端口</label>
                                <input class="form-control" type="text" id="email_port" name="email_port" value="{{.mail.EmailPort}}" placeholder="请输入端口" >
                                <small class="help-block">邮箱服务端口</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_description">邮箱地址</label>
                                <input class="form-control" type="text" id="email_user" name="email_user" value="{{.mail.EmailUser}}" placeholder="请输入邮箱地址" >
                                <small class="help-block">邮箱地址</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_copyright">授权码</label>
                                <input class="form-control" type="text" id="email_pwd" name="email_pwd" value="{{.mail.EmailPwd}}" placeholder="请输入授权码" >
                                <small class="help-block">注：此处不是填写邮箱密码</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_icp">测试邮箱地址</label>
                                <input class="form-control" type="text" id="email_test" name="email_test" value="{{.test.EmailTest}}" placeholder="请输入测试邮箱地址" >
                                <small class="help-block">在测试邮箱配置是否成功的时候，接收测试邮件的邮箱地址</small>
                            </div>
                            <div class="form-group">
                                <label for="web_site_icp">测试邮件标题</label>
                                <input class="form-control" type="text" id="email_test_title" name="email_test_title" value="{{.test.EmailTestTitle}}" placeholder="请输入测试邮件标题" >
                            </div>
                            <div class="form-group">
                                <label for="web_site_description">测试邮件模板</label>
                                <textarea class="form-control" id="email_template" rows="5" name="email_template" placeholder="请输入模板内容" >{{.test.EmailTemplate}}</textarea>
                                <small class="help-block"><code>注：测试邮箱地址，测试标题，测试模板仅作为验证邮箱有效性使用，不保留到数据库中，只作为缓存保存一段时间。</code></small>
                            </div>
                            <div class="form-group">
                                <label>邮件开关</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="email_status" name="email_status" {{if eq .mail.EmailStatus 1}}checked=""{{end}}>
                                    <label class="custom-control-label" for="email_status"></label>
                                </div>
                                <small class="help-block">关闭后不使用邮件功能，开启后修改配置时会先发送测试邮件验证配置。</small>
                            </div>
                            <input type="hidden" name="id" value="{{.id}}">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary m-r-5" onclick="submitForm()">确 定</button>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
{{template "default_js"}}
{{template "notify"}}
<script>
    function submitForm() {
        var l = $('body').lyearloading({opacity: 0.2, spinnerSize: 'nm'});
        var testMail = $('#email_status').prop("checked");
        if (testMail == true){
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/system/mail/test" ,//url
                data: $('#site_config').serialize(),
                success: function (result) {
                    l.destroy();
                    if(result.code == 200){
                        sendChange();
                    }else {
                        $.notify({message: '测试邮件发送失败，请检查邮箱配置是否有误！'},{type: 'info',delay:3000,timer:500,placement:{from:"top",align:"center"}});
                    }
                },
                error : function(result) {
                    l.destroy();
                    $.notify({message: '修改失败' + result.msg},{type: 'info',delay:2000,timer:500,placement:{from:"top",align:"center"}});
                }
            });
        }else {
            sendChange();
            l.destroy();
        }
    }
    function sendChange() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/system/mail/edit" ,//url
            data: $('#site_config').serialize(),
            success: function (result) {
                if (result.code == 200) {
                    $.notify({message: '修改成功'},{type: 'info',delay:1000,timer:500,placement:{from:"top",align:"center"}});
                    setTimeout(function () {location.reload();},1000);
                }else{
                    $.notify({message: '修改失败' + result.msg},{type: 'info',delay:1000,timer:500,placement:{from:"top",align:"center"}});
                }
            },
            error : function(result) {
                $.notify({message: '修改失败' + result.msg},{type: 'info',delay:1000,timer:500,placement:{from:"top",align:"center"}});
            }
        });
    }
</script>
</body>
</html>